.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

:root {
  --main-color: #ff9800;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
}

/* Start Setting box */
.setting-box {
  position: fixed;
  top: 0;
  left: -200px;
  background-color: #fff;
  z-index: 1000;
  width: 200px;
  min-height: 100vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.setting-box.open {
  left: 0;
}

.setting-box .toggle-setting {
  position: absolute;
  top: 100px;
  right: -30px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.setting-box .toggle-setting i {
  width: 30px;
  padding: 8px 0;
}

.setting-box .setting-container {
  padding: 20px;
}

.setting-box .setting-container .option-color {
  padding: 10px;
  text-align: center;
  background-color: #eee;
  margin: 10px;
}

.setting-box .setting-container .option-color h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
}

.setting-box .setting-container .option-color .colors-list {
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
}

.setting-box .setting-container .option-color .colors-list li {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid transparent;
  display: inline-block;
}

.setting-box .setting-container .option-color .colors-list li.active {
  border-color: #fff;
}

.setting-box .setting-container .option-color .colors-list li:first-child {
  background-color: #ff9800;
}

.setting-box .setting-container .option-color .colors-list li:nth-child(2) {
  background-color: #e91e63;
}

.setting-box .setting-container .option-color .colors-list li:nth-child(3) {
  background-color: #009688;
}

.setting-box .setting-container .option-color .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}

.setting-box .setting-container .option-color .colors-list li:nth-child(5) {
  background-color: #4caf50;
}

.setting-box .setting-container .option-bg {
  text-align: center;
}

.setting-box .setting-container .option-bg h4 {
  font-size: 14px;
}

.setting-box .setting-container .option-bg .random-bg .yes,
.setting-box .setting-container .option-bg .random-bg .no {
  width: 50px;
  background-color: #009688;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 4px;
  opacity: 0.5;
  cursor: pointer;
}

.setting-box .setting-container .option-bg .random-bg .yes.active,
.setting-box .setting-container .option-bg .random-bg .no.active {
  opacity: 1;
}

/* End Setting box */
/* start landing page */
.landing-page {
  min-height: 100vh;
  background-image: url("./../../../img/slider-01.jpg");
  background-size: cover;
  position: relative;
}

.landing-page header {
  position: relative;
  z-index: 2;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.landing-page header .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}

.landing-page header ul {
  width: 100%;
  text-align: right;
  padding-right: 20px;
  font-size: 15px;
}

.landing-page header ul li {
  display: inline-block;
  margin-left: 10px;
}

.landing-page header ul li a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.landing-page header ul li a:hover, .landing-page header ul li a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.landing-page .introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: white;
}

.landing-page .introduction h1 span {
  color: var(--main-color);
  font-size: 40px;
  margin-bottom: 12px;
}

.landing-page .introduction p {
  line-height: 1.7;
  font-size: 20px;
  margin: 0;
}

/* start landing page */
/* Start About us */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-us .info h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}

.about-us .info p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}

.about-us .img-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.about-us .img-info img {
  width: 250px;
}

/* End About us */
/* Start Our Skills */
.our-skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}

.our-skills h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: var(--main-color);
  margin: 0 0 50px;
}

.our-skills .box-skill {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
}

.our-skills .box-skill .name {
  text-align: center;
  font-weight: bold;
  width: 100px;
  line-height: 30px;
}

.our-skills .box-skill .progress {
  height: 30px;
  width: 100%;
  background-color: #ddd;
}

/* End Our Skills */
/*# sourceMappingURL=app.css.map */