/* start landing page */
.landing-page {
  min-height: 100vh;
  background-image: url("./../../../img/slider-01.jpg");
  background-size: cover;
  position: relative;
  header {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    padding: 10px;
    .logo {
      width: 300px;
      padding: 15px;
      font-weight: bold;
    }
    ul {
      width: 100%;
      text-align: right;
      padding-right: 20px;
      font-size: 15px;
      li {
        display: inline-block;
        margin-left: 10px;
        a {
          text-decoration: none;
          color: white;
          transition: all 0.3s ease-out;
          &:hover,
          &.active {
            color: var(--main-color);
            border-bottom: 1px solid var(--main-color);
          }
        }
      }
    }
  }

  .introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: white;

    h1 {
      span {
        color: var(--main-color);
        font-size: 40px;
        margin-bottom: 12px;
      }
    }
    p {
      line-height: 1.7;
      font-size: 20px;
      margin: 0;
    }
  }
}

/* start landing page */

/* Start About us */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  .info {
    flex: 1;
    h2 {
      font: {
        size: 30px;
        weight: bold;
      }
      color: var(--main-color);
      margin: 0 0 10px;
    }
    p {
      line-height: 1.8;
      color: #767676;
      margin: 0;
    }
  }
  .img-info {
    flex: 1;
    text-align: center;
    img {
      width: 250px;
    }
  }
}
/* End About us */

/* Start Our Skills */
.our-skills {
  padding: 50px 0;
  background-color: #eee;
  h2 {
    font: {
      size: 30px;
      weight: bold;
    }
    text-align: center;
    color: var(--main-color);
    margin: 0 0 50px;
  }
  .box-skill {
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
    .name {
      text-align: center;
      font-weight: bold;
      width: 140px;
      line-height: 30px;
    }
    .progress {
      height: 30px;
      width: calc(100% - 150px);
      background-color: #f6f6f6;
      border-radius: 6px;
      position: relative;
      overflow: hidden;
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: var(--main-color);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
/* End Our Skills */
/* Start Gallery */
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;

  h2 {
    font: {
      size: 30px;
      weight: bold;
    }
    text-align: center;
    color: var(--main-color);
    margin: 0 0 50px;
  }
  .images-box {
    text-align: center;
    img {
      width: 200px;
      height: 160px;
      padding: 3px;
      background-color: #f6f6f6;
      border: 1px solid #ccc;
      margin: 5px;
      cursor: pointer;
    }
  }
}
/* End Gallery */
/* Start time line*/
.timeline {
  padding: 50px 0;
  background-color: #eee;
  .timeline-content {
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: var(--main-color);
      top: 0;
      left: 50%;
      margin-left: -1px;
    }
    .year {
      margin: 20px auto;
      width: 50px;
      background-color: var(--main-color);
      position: relative;
      z-index: 2;
      text-align: center;
      border-radius: 4px;
      color: #fff;
      padding: 2px 5px;
      font-weight: bold;
    }

    .left,
    .right {
      width: calc(50% - 25px);
      margin-bottom: 40px;
      position: relative;

      .content {
        background-color: #fff;
        padding: 20px;

        h3 {
          font-weight: bold;
          color: var(--main-color);
          margin: 0 0 10px;
        }
        p {
          color: #666;
          margin: 0;
          line-height: 1.6;
        }
      }
    }
    .left {
      float: left;
      &::before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: #fff;
        border: 3px solid var(--main-color);
        right: -35px;
        top: 20px;
        border-radius: 50%;
      }
      .content::before {
        content: "";
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent transparent #fff;
        height: 0;
        width: 0;
        position: absolute;
        right: -20px;
        top: 20px;
      }
    }
    .right {
      float: right;
      &::before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: #fff;
        border: 3px solid var(--main-color);
        left: -35px;
        top: 20px;
        border-radius: 50%;
      }
      .content::before {
        content: "";
        border-style: solid;
        border-width: 10px;
        border-color: transparent #fff transparent transparent;
        height: 0;
        width: 0;
        position: absolute;
        left: -20px;
        top: 20px;
      }
    }
  }
}
/* End time line*/

/* Start Feature */
.our-features {
  padding: 80px 0;
  h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
  }
  .feat-box {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
    img {
      max-width: 128px;
    }
    h4 {
      font-size: 20px;
      margin: 15px 0 40px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 4px;
        background-color: var(--main-color);
        left: 50%;
        margin-left: -20px;
        bottom: -22px;
      }
    }
    p {
      width: 80%;
      margin: 0 auto;
      color: #706f6f;
      line-height: 1.7;
    }
  }
}
/* End Feature */
/* Start Testimonial */
.testimonial {
  overflow: hidden;
  position: relative;
  padding: 80px 0;
  h2 {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin: 0 0 30px;
    text-align: left;
    position: relative;
    z-index: 2;
    margin: 0 0 30px;
  }
  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
  }
  &::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #333;
  }
  .ts-box {
    position: relative;
    z-index: 2;
    float: left;
    width: calc(97% / 3);
    background-color: #ccc;
    padding: 20px;

    &:not(:last-of-type) {
      margin-right: 1%;
    }

    > p {
      margin: 0 0 20px;
      line-height: 1.5;
      font-size: 1.1em;
      color: #707070;
      font-style: italic;
    }
    .person-info {
      display: flex;
      img {
        border-radius: 50%;
        margin-right: 20px;
      }
      h4 {
        margin: 15px 0 5px;
        p {
          margin: 0;
          color: #707070;
        }
      }
    }
  }
}
/* End Testimonial */
/* Start Contact Us */
.contact-us {
  min-height: 600px;
  padding: 50px 0;
  background-image: url("./../../../img/contact.png");
  background-size: cover;
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #fff, $alpha: 0.7);
    width: 100%;
    height: 100%;
  }
  .container {
    position: relative;
    z-index: 2;
  }
  h2 {
    text-align: center;
    color: var(--main-color);
    margin: 0 0 60px;
    font-size: 30px;
    font-weight: bold;
  }
  form {
    display: flex;
    max-width: 800px;
    margin: auto;
    justify-content: space-between;
    div {
      width: 48%;
    }
    input {
      height: 40px;
    }
    textarea {
      height: 150px;
      &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: 0.3s ease-in;
      }
    }
    input[type="submit"] {
      padding: 10px;
      width: 100%;
      border-color: transparent;
      background-color: var(--main-color);
      color: #fff;
      cursor: pointer;
    }

    input:not([type="submit"]),
    textarea {
      width: 100%;
      display: block;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      background-color: rgba(218, 218, 218, 0.19);
      &:focus {
        outline: 1px solid var(--main-color);
      }
      &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: 0.3s ease-in;
      }
    }
  }
}
/* End Contact Us */
